.book-section {
  width: 100%;
  padding: 100px 8vw;
  background: var(--primary-bg);
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-content {
  margin-bottom: 60px;
  max-width: 700px;
}

.book-content h1 {
  font-size: 2.8rem;
  color: var(--accent);
  font-weight: 700;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.book-content p {
  font-size: 1.1rem;
  color: #cfcfcf;
  line-height: 1.6;
}

.book-content span {
  color: var(--accent);
  font-weight: 600;
}

/* FORM STYLES */
.book-form {
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.4);
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  border: 1px solid rgba(205, 150, 31, 0.2);
}

.form-group {
  display: flex;
  flex-direction: column;
  text-align: left;
}

label {
  font-size: 0.95rem;
  font-weight: 600;
  color: var(--accent);
  margin-bottom: 6px;
}

input {
  padding: 12px 15px;
  border-radius: 10px;
  border: 1px solid rgba(205, 150, 31, 0.25);
  outline: none;
  font-size: 1rem;
  background: #1a1a1a;
  color: #fff;
}

input:focus {
  border: 1px solid var(--accent);
  background: #222;
}

.form-row {
  display: flex;
  gap: 20px;
  .form-group {
    width: 50%;
  }
}

.book-btn {
  background: var(--accent);
  border: none;
  color: var(--primary-bg);
  font-weight: 600;
  font-size: 1.1rem;
  padding: 14px 30px;
  border-radius: 12px;
  cursor: pointer;
  margin-top: 10px;
  transition: all 0.3s ease-in-out;
}
.book-btn:hover {
  border: 2px solid var(--accent);
  background-color: transparent;
  color: var(--accent);
}
/* RESPONSIVE */
@media (max-width: 768px) {
  .book-content h1 {
    font-size: 2rem;
  }

  .form-row {
    flex-direction: column;
  }
  .form-row > .form-group {
    width: 100%;
  }

  .book-form {
    padding: 30px;
  }
}
